
header .navbar {
    background-color: #82070f !important;
    padding-top: 1px;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    font-family: 'Helvetica';
	font-weight:lighter;
	letter-spacing:0.1em;
    padding: 0px 5px;
}
.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
   font-family: 'helvetica', sans-serif;
}
.container-img {
    width: 1000px;
    height: 280px;
    box-shadow: 5px 5px 10px rgba(59, 58, 58, 1);
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    overflow:hidden;
    background-attachment: scroll;
    background-position: center;
    
}
.container-img {
    display: flex;
    align-items: center;
}
.container-img img{
    width:100%;
}

.banner {
    background: url(2.png) center center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: calc(6rem + 100px);
    padding-bottom: 10rem;
    height: 100px;
}
#hb1{
    border-radius: 53px;
    width: 620px;
    
}
#container1{
    padding: 50px;
}
#parrafo1{
    padding-top: 20px;
}
#icon li{
    list-style:none;
    margin: 20px;
}
#t1{
    padding-left: 30px;
}
#t1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
#tituloshb {
    font-family: 'Billy Ohio', sans-serif;
    font-size: 60px;
                                                
}
#t1{
    font-family: 'Billy Ohio', sans-serif;
    font-size:70px;
}
   /* footer  */
   html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 300px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    color: rgba(200,0,24,0.75);
  }
  
  @media (max-width: 34em) {
      body {
        margin-bottom: 500px;
        color: rgba(200,0,24,0.75);
      }
      .footer {
        height: 500px;
      }
  }
  
  footer {
    padding-top: 30px;
    background-color: #eef1f1;
    color: #bbb;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: rgb(207, 205, 205);
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #faf8f5;
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }